
@media (max-width: 540px) {
    .row {
        width: 100%;
        margin: auto;
    }
    .main {
        max-width: 320px !important;
        margin: auto;
    }
    .rwdItem {
        min-width: 100% !important;
        margin: auto !important;
    }
}